#main article.article {
	display: inline-block;
	position: relative;
	width: 14.5em;
	height: 14.5em;
	margin: 0.3em 0.15em 0px;
	overflow-y: hidden;
	box-shadow: 0px 0px 3px #c4c4c4;
	background-color: #f5f5f5;
	line-height: 14.5em;
	text-align: center;
	border-radius: 6px;
}

.article a {
	display: block;
	font-size: 130%;
	width: 100%;
	height: 100%;
}

.article p{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#message {
	padding: 10px;
	box-shadow: 0px 0px 3px #c4c4c4;
	background-color: #fffe94;
}

.header ul {
	list-style: none outside none;
}

.header li {
	display: inline-block;
}

footer span {
	padding-right: 20px;
}

table, td, th {
	border: 1px solid black;
        border-spacing: 0.5rem;
	border-collapse: collapse;
}

table, form {
	margin: 30px;
}

td {
	text-align: right;
	padding: 10px;
}

th {
	background-color: lightgrey;
}

h1 {
	text-align: center;
}

input[type="submit"] {
	width: auto;
	height: 5em;
}

.container {
	width: auto !important;
	padding: 30px;
}

@media screen and (max-width: 600px){
	#main article.article {
		width: 7em;
		height: 7em;
		line-height: 7em;
	}
}
